@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');

    :root {
      --main-color: #FF1A1A;
    }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    user-select: none;
    color: #fff;
    overflow: hidden;
  }



  @font-face {
    font-family: 'RangerRegular';
    src: url('../fonts/spaceranger.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


  .button {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border: 0;
  }
  
  .button:before,
  .button:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 7px;
  }
  
  .button:before {
    border: 1px solid #f0eeef94;
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
      transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
  }
  
  .button:after {
    border: 1px solid #af0404;
    transform: scale(1.3);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
      transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
  }
  
  .button:hover:before,
  .button:focus:before {
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
      transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  
  .button:hover:after,
  .button:focus:after {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
      transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
  }
  
  .button-box {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .button-elem {
    display: block;
    width: 18px;
    height: 18px;
    margin: 16px 18px 0 16px;
    transform: rotate(180deg);
    fill: #f0eeefd8;
  }
  
  .button:hover .button-box,
  .button:focus .button-box {
    transition: 0.4s;
    transform: translateX(-52px);
  }

  .closeMenu {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 99 !important;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 120px !important;
    margin-left: 130px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #5a5a5a;
    border-radius: 4px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #181818;
  }
  
  .custom-scrollbar {
    overflow-y: auto;
    padding-right: 8px; 
    transform: translateX(5px);
  }

  .custom-scrollbarLobbyPage::-webkit-scrollbar {
    width: 4px;
    height: 120px !important;
    margin-left: 130px;
  }
  
  .custom-scrollbarLobbyPage::-webkit-scrollbar-thumb {
    background-color: #dc0000;
    border-radius: 4px;
  }
  
  .custom-scrollbarLobbyPage::-webkit-scrollbar-track {
    background-color: #181818;
  }
  
  .custom-scrollbarLobbyPage {
    overflow-y: auto;
    padding-right: 8px; 
    transform: translateX(5px);
  }

  .CustomNotification {
    display: none;
    min-width: 22rem;
    padding: 0 45px;
    height:3.2rem;
    background: url(../imgs/NotifBg.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    font-family: "Afacad", sans-serif;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    filter: drop-shadow(0 0 0.75rem black);
    position: absolute;
    top: 2rem;
    z-index: 99 !important;
   }

   .DeadLog {
    flex-direction:column;
    width:fit-content;
    height: fit-content;
    position: absolute;
    right: 1rem;
    display: flex;
    justify-content: right;
    align-items: right;
    gap: 5px;
    text-shadow: #fff 1px 0 20px;
    font-family: "RangerRegular", sans-serif;
    font-size: 20px;
  }

  .DeadLogPlayer  {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    text-align: center;
    gap: 15px;
    background: #000000;
    background: linear-gradient(94deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.49) 68%);
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-left: 20px;
    border-radius: 5px;
    overflow: hidden;
  }

  .DeadLogPlayer p {
    display: flex;
    align-items: center;
    justify-content: right;
    align-items: center;
    text-align: center;
    gap: 15px;
  }
  
  .DeadLogPlayer p img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    filter: drop-shadow(0 0 0.75rem rgb(73, 73, 73));
  }
  
  .DeadLogRedLine {
    height: 100%;
    width:  2px;
    background-color: rgb(255, 0, 0);
    position: absolute;
    right: 0px;
    border-radius: 5px;
    -webkit-box-shadow: 10px 0px 43px 8px #FF0000; 
    box-shadow: 10px 0px 43px 8px #FF0000;
  }