
.LeftVector {
    object-fit: contain;
    width: auto;
    height: 100%;
    position: absolute;
    top: 0rem;
    left: 0rem;
}

.ChracterRight {
    object-fit: contain;
    width: auto;
    height: 95%;
    position: absolute;
    bottom: 0rem;
    right: 0rem;
}

.LaserTagTextTop {
    position: absolute;
    top: 1vh;
    left: 7.5vw;
    filter: drop-shadow(0 0 0.75rem crimson);
}