
.LeftVector {
    object-fit: contain;
    width: auto;
    height: 100%;
    position: absolute;
    top: 0rem;
    left: 0rem;
}

.ChracterRight {
    object-fit: contain;
    width: auto;
    height: 95%;
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    filter: drop-shadow(50px 9mm 18mm #39222b);
    animation: shadowPulse 2s infinite ease-in-out;
}

.LaserTagTextTop {
    position: absolute;
    top: 1vh;
    left: 7.5vw;
    filter: drop-shadow(0px 30px 27px #c90000);
}

.DotDiv {
    position: absolute;
    top: 7vh;
    margin-left: 5vw;
    animation: floatAround 4s infinite ease-in-out;
}

@keyframes floatAround {
    50%  { transform: translate(10px, 0); }    
}

@keyframes shadowPulse {
    0%   { filter: drop-shadow(50px 9mm 18mm #39222b); }
    50%  { filter: drop-shadow(30px 11mm 20mm #2f1c23); }
    100% { filter: drop-shadow(50px 9mm 18mm #39222b); }
}

.BottomVector {
    position: absolute;
    bottom: 3vh;
    animation: floatAround 4s infinite ease-in-out;
}

.BttomDiVDetail {
    position: relative; 
  }
  
  .BttomDiVDetail svg {
    display: block;       
    position: relative;   
    z-index: 1;           
  }
  
  .TextDetailBottomDiv {
    position: absolute;
    top: 0;              
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;           
    display: flex;       
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    color: white;        
}

.ServerDetail {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.ServerDetail p {
    opacity: 50%;
    font-size: 13px;
    font-weight: 300;
}

.ServerDetail h1 {
    font-family: "Tomorrow", sans-serif;
    margin-top: 5px;
    font-size: 25px;
}

.TextDetailServer {
    max-width: 400px;
    font-size: 14px;
}

.CreateLobby {
    position: relative;       
  }
  
  .bg-image {
    width: 100%;
    height: 100%;
    display: block;          
    position: relative;
    z-index: 1;              
  }
  
  .CreateLobyText {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;              
    display: flex;          
    align-items: left;
    justify-content: start;
    color: white;
    flex-direction: column;
    text-align: left;
    padding-top: 20px;
    padding-left: 30px;
    gap: 4px;
  }

  .CreateLobyText h1 {
    font-weight: 900;
    font-size: 46px;
  }

  .CreateLobyText p {
    font-size: 12.5px;
    max-width: 85%;
    transform: translateX(5px);
  }

  .priceCreate {
    position: absolute;
    top: 10rem;
    right: 0;
    z-index: 2;              
    display: flex;          
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    padding-left: 30px;
    gap: 4px;
  }