.LeaderBoardPage {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100vw;
    background: url(../imgs/LeaderBoardbackgrond.png),#000;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    user-select: none;
    color: #fff;
    overflow: hidden;
}

.TopTextLeaderBoard {
    font-family: "RangerRegular", sans-serif;
    position: absolute;
    left: 4.5vw;
    top: 10vh;
  }
  
  .FirstP {
    -webkit-text-stroke: 1px #444444;
    font-size: 48px;
    width: 100vw;
    color: transparent;
    transform: translateX(-1rem) translateY(-2.2rem);
  }
  .SecondP {
    transform: translateY(-4.2rem) !important;
    color: #fff;
    font-size: 45px;
    width: 100vw;
    text-shadow: 
    #ffffff 0px 0px 40px,
    #ffffff 0px 0px 80px;
    animation: pulseShadow 3.5s ease-in-out infinite;
  }

  .CharchaterLeaderboard {
    position: absolute;
    right: 0;
    width: 41vw;
    bottom: 0;  
  }

  .DDLINELEADER {
    position: absolute;
    right: -14.5rem;
    bottom: -13rem;
  }

  .crescentLeaderBoard {
    position: relative;
    width: 800px;
    height: 1050px;
    border-radius: 50% / 60%;
    background: transparent;
    border-left: 40px solid white;
    transform: rotate(31deg);
    filter: drop-shadow(0 0 1.85rem #00fbff);
    animation: pulseGlowLeaderBoard 4s ease-in-out infinite;
  }
  
  .crescentLeaderBoard::before {
    content: "";
    position: absolute;
    inset: -40px; 
    border-left: 32px solid #74daf9;
    border-radius: 50% / 60%;
    transform: rotate(0deg);
    filter: blur(40px);
    opacity: 0.9;
  }

  @keyframes pulseGlowLeaderBoard {
    0% {
      filter: drop-shadow(0 0 0.5rem #00fbff);
    }
    50% {
      filter: drop-shadow(0 0 2.5rem #00fbff);
    }
    100% {
      filter: drop-shadow(0 0 0.5rem #00fbff);
    }
  }

  .AllLeaderBoardDiv {
    display: flex;
    flex-direction: column; 
  }

  .TopPlayersDiv {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 4vw;
    top: 25vh;
    gap: 30px;
  }

  .TopPlayerBoxSilver {
    background: url(../imgs/SilverBoxLeaderBoard.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
  }

  .TopPlayerBoxGold {
    background: url(../imgs/GoldBoxLeaderBoard.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    transform: translateY(-3rem);
  }

  .TopPlayerBoxBronze {
    background: url(../imgs/BronzeBoxLeaderBoard.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
  }

.TextDetail {
  width: 77%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  bottom:2rem;
}

.DetailInsideDiv {
  display: flex;
  justify-content: space-between;
  padding: 0px 5px;
  font-family: "Afacad", sans-serif;
}

.DetailInsideDiv p:nth-of-type(1) {
  color: #858585;
}

.LineDetailInsideDiv {
  width: 100%;
background: #444444;
height: 1px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.diamond-wrapper {
  width:70px;
  height:70px;
  overflow: hidden;
  transform: rotate(45deg);
  border-radius: 17%; 
  filter: drop-shadow(0 0 1.95rem rgb(114, 114, 114));

}

.diamond-wrapper img {
  max-width: 100%;
  transform: rotate(-45deg) scale(1.42);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.SteamImageDivLeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1px;
  position: absolute;
  top: -10px;
  animation: pulseSteamUsers 4s ease-in-out infinite;
}

@keyframes pulseSteamUsers {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.VectorIconLeft {
  width: 33px;
  height: 43px;
  transform: translateY(-3px);
}

.VectorIconRight {
  width: 33px;
  height: 43px;
  transform: translateY(-3px);
}

.GoldVecLeft {
  transform: translateY(-3px) translateX(4px) !important;
}

.GoldVecRight {
  transform: translateY(-3px) translateX(-4px) !important;
}

.BottomSteamLine {
  position: absolute;
}

.SteamUserNamePlayer {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 45px;
}

.SteamUserNamePlayer h1 {
  font-size: 21px;
}

.SteamUserNamePlayer p {
  font-size: 13px;
  color: #898989;
}

.PlayersListLeaderboardDiv {
  width: 64rem;
  height: 30rem;
  position: absolute;
  left: 4vw;
  margin-top: 2rem;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.PlayerBoxLeaderBoard {
  background: url(../imgs/LeaderPlayerListBg.png) rgba(8, 8, 8, 0.6);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(17.9px);
-webkit-backdrop-filter: blur(17.9px);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 4px;
  width: 64rem;
  height: 5.289rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Afacad", sans-serif;
}

.NumberList {
  position: absolute;
  left: 2rem;
  font-size: 22px;
  font-weight: 800;
}

.ImageListleader {
  position: absolute;
  left: 4.7rem;
  width: 42px;
  height: 42px;
  border-radius: 8px;
}

.SteamDetailLeaderBoard {
  position: absolute;
  left: 8.4rem;
  display: flex;
  flex-direction: column; 
}

.SteamDetailLeaderBoard h4 {
  font-size: 19px;
  transform: translateY(1px);
}

.SteamDetailLeaderBoard p {
  font-size: 14px;
  color: #898989;
  transform: translateY(-1px);

}

.LosesDivBg {
  background: url(../imgs/LoseBg.png) ;
  background-size: contain;
  width: 7.9rem;
  height: 2.6rem;
  background-repeat: no-repeat;
  position: absolute;
  right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Afacad", sans-serif;
  box-shadow: rgba(255, 0, 0, 0.162) 0px 5px 15px;
}

.LosesDivBg p:nth-of-type(1) {
  position: absolute;
  left: 20px;
  font-size: 16px;
}

.LosesDivBg p:nth-of-type(2) {
  position: absolute;
  left: 78px;
  font-size: 14px;
}


.WinsDivBg {
  background: url(../imgs/WinBg.png) ;
  background-size: contain;
  width: 7.3rem;
  border-radius: 4px;
  height: 2.6rem;
  background-repeat: no-repeat;
  position: absolute;
  right: 9.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Afacad", sans-serif;
  box-shadow: rgba(0, 255, 115, 0.114) 0px 5px 15px;
}

.WinsDivBg p:nth-of-type(1) {
  position: absolute;
  left: 20px;
  font-size: 16px;
}

.WinsDivBg p:nth-of-type(2) {
  position: absolute;
  left: 70px;
  font-size: 14px;
}

.killsDivBg {
  background: url(../imgs/KillBg.png); 
  background-size: contain;
  width: 8.7rem;
  height: 2.6rem;
  background-repeat: no-repeat;
  position: absolute;
  right: 17.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Afacad", sans-serif;
  box-shadow: rgba(181, 181, 181, 0.162) 0px 5px 15px;
}

.killsDivBg p:nth-of-type(1) {
  position: absolute;
  left: 25px;
  font-size: 18px;
}

.killsDivBg p:nth-of-type(2) {
  position: absolute;
  left: 80px;
  font-size: 16px;
}

.BadegsDivs {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: start;
  position: absolute;
  left: 22rem;
}

.BadegsDivs img {
  width: 45px;
  height: 45px;
  cursor: pointer;
  transition: transform .30s ease;
}

.BadegsDivs img:hover {
  transform: scale(1.05);
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
}

.modal.is-open {
  display: flex;
  animation: fadeIn 0.3s forwards;
}

.modal.is-closing {
  animation: fadeOut 0.3s forwards;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  width: 10rem;
  position: relative;
  transform: translateY(-10px);
  animation: slideIn 0.3s ease;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}
.close:hover { color: red; }

/* Animations */
@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes fadeOut {
  from { opacity: 1 }
  to { opacity: 0 }
}

