.LobbypageDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100vw;
    background: url(../imgs/LeaderBoardbackgrond.png),#000;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    user-select: none;
    color: #fff;
    overflow: hidden;
}