.LobbypageDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100vw;
    background: url(../imgs/LeaderBoardbackgrond.png),#000;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    user-select: none;
    color: #fff;
    overflow: hidden;
}

.RoomsDivsSection {
    min-width: 66rem;
    max-height: 44rem;
    top: 28vh;
    position: absolute;
    left: 4vw;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.RoomBoxDiv {
    background: url(../imgs/RoomBgBoxs.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 65rem;
    height: 5.6rem;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LobbyImageTag {
    width: 65rem;
    height: 5.6rem;
    border-radius: 4px;
    position: absolute;
    left: 0px;
}

.CreatorRoomText {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 5px;
    left: 2rem;
}

.CreatorPtag {
    font-size: 12px;
    color: #868686;
    font-family: "Roboto", sans-serif;
}

.UsenameCreatorP {
    font-family: "Afacad", sans-serif;
    font-size: 19px;
    font-weight: 700;
    text-shadow: #ffffffe0 0px 0 55px;

}

.InSdDiv {
    display: flex;
    flex-direction: row;
    gap: 13px;
}

.PrivateDiv {
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 3px;
    color: #ec3235;
    text-shadow: #f5262a 1px 0 15px;
    text-align: center;
    transform: translateY(2px);
    animation: pulseShadowPrivate 1.5s infinite ease-in-out;
}

@keyframes pulseShadowPrivate {
    0% {
      text-shadow: #f5262a 1px 0 15px;
    }
    50% {
      text-shadow: #911e20 1px 0 25px;
    }
    100% {
      text-shadow: #f5262a 1px 0 15px;
    }
  }

  .BeTMoneyText {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 5px;
    left: 16rem;
  }

.RoundsText {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 5px;
    left: 26rem;
}

.CurrentCreatorPtag {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 5px;
    left: 35rem;
}

.MapSelectPtag {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 5px;
    left: 44rem;
}