.RoomPageLobby {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100vw;
    background: url(../imgs/RoomLobbybackground.png),#000;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    user-select: none;
    color: #fff;
    overflow: hidden;
}

.BottomVector2 {
    position: absolute;
    top: 8vh;
    right: 25vw;
    animation: floatAround 4s infinite ease-in-out;
}

.InsideDetailsRoomLobby {
    display: flex;
    flex-direction: row;
}

.BottomOfmapRoomDetail {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.GreenBottomRoom {
    width: 16rem;
    height: 3.7rem;
    background: linear-gradient(180deg,rgba(33, 128, 254, 0) 0%, rgba(33, 128, 254, 0) 50%, rgba(0, 255, 8, 0.1) 100%);
    border: .9px solid #153c1a76;
    position: relative;
    cursor: pointer;
    transition: all ease .30s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.GreenBottomRoom:hover {
    transform: scale(1.02);
}

.GreenBottomRoom:active {
    transform: translate(3px , 3px);
}

.GreenBottomRoom:hover .GreenBottomLine {
    right: 65px;
}

.GreenBottomRoom:hover .GreenTopLine {
    left: 65px;
}

.GreenBottomLine {
  height: 0.8px;
  width: 7.5rem;
  position: absolute;
  bottom: 0; 
  right: 10px;
  background: #00FF08;
  background: linear-gradient(90deg, rgba(0, 255, 8, 0) 0%, rgba(0, 255, 8, 1) 50%, rgba(0, 0, 0, 0) 100%);
  transition: right ease .40s;
}

.GreenTopLine {
    height: 0.8px;
    width: 7.5rem;
    position: absolute;
    top: 0; 
    left: 10px;
    background: #00FF08;
    background: linear-gradient(90deg, rgba(0, 255, 8, 0) 0%, rgba(0, 255, 8, 1) 50%, rgba(0, 0, 0, 0) 100%);
    transition: left ease .40s;
}

.InsideGreenButton {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.InsideGreenButton p { 
    font-family: "inter", sans-serif;
    color: #00FF08;
    font-weight: 700;
    font-size: 15px;
}

#StartGameText {
    display: none;
}

#SetReadyText {
    display: flex;
}

#DisbandLobbyText {
    display: flex;
}

#leaveTheRoomText {
    display: none;
}


.RedBottomRoom {
    width: 16rem;
    height: 3.7rem;
    background: #FF1A1A;
    background: linear-gradient(168deg,rgba(255, 26, 26, 0) 0%, rgba(255, 26, 26, 0.03) 50%, rgba(255, 26, 26, 0.2) 100%);
    border: .9px solid #401e1ea1;
    position: relative;
    cursor: pointer;
    transition: all ease .30s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.RedBottomRoom:hover {
    transform: scale(1.02);
}

.RedBottomRoom:active {
    transform: translate(3px , 3px);
}

.RedBottomRoom:hover .RedBottomLine {
    right: 65px;
}

.RedBottomRoom:hover .RedTopLine {
    left: 65px;
}

.RedBottomLine {
  height: 0.8px;
  width: 7.5rem;
  position: absolute;
  bottom: 0; 
  right: 10px;
  background: #FF1A1A;
  background: linear-gradient(90deg,rgba(255, 26, 26, 0) 0%, rgba(255, 26, 26, 1) 50%, rgba(0, 0, 0, 0) 100%);
  transition: right ease .40s;
}

.RedTopLine {
    height: 0.8px;
    width: 7.5rem;
    position: absolute;
    top: 0; 
    left: 10px;
    background: #FF1A1A;
    background: linear-gradient(90deg,rgba(255, 26, 26, 0) 0%, rgba(255, 26, 26, 1) 50%, rgba(0, 0, 0, 0) 100%);
    transition: left ease .40s;
    
}

.InsideRedButton {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    width: 100%;
    height: 100%;
    text-align: center;

}

.InsideRedButton p { 
    font-family: "inter", sans-serif;
    color: #FC1A1A;
    font-weight: 700;
    font-size: 15px;
}