.RoomPageLobby {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100vw;
    background: url(../imgs/RoomLobbybackground.png),#000;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    user-select: none;
    color: #fff;
    overflow: hidden;
}

.BottomVector2 {
    position: absolute;
    top: 8vh;
    right: 25vw;
    animation: floatAround 4s infinite ease-in-out;
}

.InsideDetailsRoomLobby {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.BottomOfmapRoomDetail {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.GreenBottomRoom {
    width: 19.3rem;
    height: 3.6rem;
    background: linear-gradient(180deg,rgba(33, 128, 254, 0) 0%, rgba(33, 128, 254, 0) 50%, rgba(0, 255, 8, 0.1) 100%);
    border: .9px solid #153c1a76;
    position: relative;
    cursor: pointer;
    transition: all ease .30s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.GreenBottomRoom:hover {
    transform: scale(1.02);
}

.GreenBottomRoom:active {
    transform: translate(3px , 3px);
}

.GreenBottomRoom:hover .GreenBottomLine {
    right: 85px;
}

.GreenBottomRoom:hover .GreenTopLine {
    left: 90px;
}

.GreenBottomLine {
  height: 1px;
  width: 7.7rem;
  position: absolute;
  bottom: 0; 
  right: 10px;
  background: #00FF08;
  background: linear-gradient(90deg, rgba(0, 255, 8, 0) 0%, rgba(0, 255, 8, 1) 50%, rgba(0, 0, 0, 0) 100%);
  transition: right ease .40s;
}

.GreenTopLine {
    height: 1px;
    width: 7.7rem;
    position: absolute;
    top: 0; 
    left: 10px;
    background: #00FF08;
    background: linear-gradient(90deg, rgba(0, 255, 8, 0) 0%, rgba(0, 255, 8, 1) 50%, rgba(0, 0, 0, 0) 100%);
    transition: left ease .40s;
}

.InsideGreenButton {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.InsideGreenButton p { 
    font-family: "inter", sans-serif;
    color: #00FF08;
    font-weight: 700;
    font-size: 15px;
    transition: color ease .30s;
}

.GreenBottomRoom:hover .InsideGreenButton p {
    color: #00ff08d4;
}

#StartGameText {
    display: none;
}

#SetReadyText {
    display: flex;
}

#DisbandLobbyText {
    display: flex;
}

#leaveTheRoomText {
    display: none;
}


.RedBottomRoom {
    width: 19.3rem;
    height: 3.6rem;
    background: #FF1A1A;
    background: linear-gradient(168deg,rgba(255, 26, 26, 0) 0%, rgba(255, 26, 26, 0.03) 50%, rgba(255, 26, 26, 0.2) 100%);
    border: .9px solid #401e1ea1;
    position: relative;
    cursor: pointer;
    transition: all ease .30s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.RedBottomRoom:hover {
    transform: scale(1.02);
}

.RedBottomRoom:active {
    transform: translate(3px , 3px);
}

.RedBottomRoom:hover .RedBottomLine {
    right: 82px;
}

.RedBottomRoom:hover .RedTopLine {
    left: 100px;

}

.RedBottomLine {
    height: 1px;
    width: 7.7rem;
  position: absolute;
  bottom: 0; 
  right: 10px;
  background: #FF1A1A;
  background: linear-gradient(90deg,rgba(255, 26, 26, 0) 0%, rgba(255, 26, 26, 1) 50%, rgba(0, 0, 0, 0) 100%);
  transition: right ease .40s;
}

.RedTopLine {
    height: 1px;
    width: 7.7rem;
    position: absolute;
    top: 0; 
    left: 10px;
    background: #FF1A1A;
    background: linear-gradient(90deg,rgba(255, 26, 26, 0) 0%, rgba(255, 26, 26, 1) 50%, rgba(0, 0, 0, 0) 100%);
    transition: left ease .40s;
    
}

.InsideRedButtonRoom {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    width: 100%;
    height: 100%;
    text-align: center;

}

.InsideRedButtonRoom p { 
    font-family: "inter", sans-serif;
    color: #FC1A1A;
    font-weight: 700;
    font-size: 15px;
    transition: color ease .30s;
}

.RedBottomRoom:hover .InsideRedButton p {
    color: #fc1a1ac1;
}

.RightRoomDetail {
    display: flex;
    flex-direction: column;
    gap: 15px;
    transform: translateY(6.4rem);
}

.RightRoomDetailBg {
    background: url(../imgs/BgRoomDetails.png);
    backdrop-filter: blur(10px);
    background-repeat: no-repeat;
    background-size: cover;
    width: 632px;
    height: 588px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.RoundsRoomDetail {
    position: absolute;
    left: 3rem;
    bottom: 2.8rem;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.RoundsRoomDetail p:nth-of-type(1) {
    font-family: "Roboto", sans-serif;
    color: #828283;
    font-size: 14px;
}

.RoundsRoomDetail p:nth-of-type(2) {
    font-family: "Afacad", sans-serif;
    font-size: 26px;
    font-weight: 800;
    text-shadow: #ffffffd2 1px 0 50px;
}

.WhiteLineInsideRoomDetail {
    width: 1px;
    height: 60px;
    background: #ffffff;
    background: linear-gradient(0deg,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    bottom: 2.5rem;
    left: 12rem;
}


.GunsRoomDetail {
    position: absolute;
    left: 15.5rem;
    bottom: 2.8rem;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.GunsRoomDetail p:nth-of-type(1) {
    font-family: "Roboto", sans-serif;
    color: #828283;
    font-size: 14px;
}

.GunsRoomDetail p:nth-of-type(2) {
    font-family: "Afacad", sans-serif;
    font-size: 26px;
    font-weight: 800;
    text-shadow: #ffffffd2 1px 0 50px;
}

.WhiteLineInsideRoomDetail2 {
    width: 1px;
    height: 60px;
    background: #ffffff;
    background: linear-gradient(0deg,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    bottom: 2.5rem;
    left: 25rem;
}

.MapRoomDetail {
    position: absolute;
    left:28rem;
    bottom: 2.8rem;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.MapRoomDetail p:nth-of-type(1) {
    font-family: "Roboto", sans-serif;
    color: #828283;
    font-size: 14px;
}

.MapRoomDetail p:nth-of-type(2) {
    font-family: "Afacad", sans-serif;
    font-size: 26px;
    font-weight: 800;
    text-shadow: #ffffffd2 1px 0 50px;
}

.InsideRoomMapImage {
    width: 91%;
    height:420px;
    position: absolute;
    top: 1.5rem;
    border-radius: 8px;
    object-fit: cover;
}

.LeftRoomDetail {
    display: flex;
    flex-direction: column;
    position: relative;
}

.TopTextRoomLobby {
    font-family: "RangerRegular", sans-serif;
  }
  
  .FirstPRoom {
    -webkit-text-stroke: 1px #444444;
    font-size: 45px;
    color: transparent;
    transform: translateX(0rem) translateY(-2.3rem);
  }
  .SecondPRoom {
    transform: translateY(-4.2rem) !important;
    color: #fff;
    font-size: 43px;
    text-shadow: 
    #ffffff 0px 0px 40px,
    #ffffff 0px 0px 80px;
    animation: pulseShadow 3.5s ease-in-out infinite;
  }

.EditeLobbyButton {
    font-family: inherit;
    font-size: 13px;
    background: #191919;
    color: white;
    width: 8.5rem;
    height: 2.7rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #303030;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
    gap: 5px;
    transform: translateY(-1.9rem);
  }
  
  .EditeLobbyButton span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  .EditeLobbyButton svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  .EditeLobbyButton:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  .EditeLobbyButton:hover svg {
    transform: translateX(2.8em)  scale(1.1);
  }
  
  .EditeLobbyButton:hover span {
    transform: translateX(6.8em);
  }
  
  .EditeLobbyButton:active {
    transform:translateY(-2.3rem)  translate(2px , 2px);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }
  

  .RoomNameLobbyDeatails {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .BetMoneyLobbyText {
    transform: translateY(-3.4rem);
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    color: #8d8d8d;
  }

  .BlueAndRedDivTeam {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .RedSvgBehindImg {
    position: absolute;
    z-index: 1;
    width: 74rem;
  }

  .BlueTeamDiv {
    background: url(../imgs/BoxPlayerBgRoom.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 973px;
    height:325px;
    z-index: 2;
    position: relative;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 4px;
  }

  .RedTeamDiv {
    background: url(../imgs/BoxPlayerBgRoom.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 973px;
    height:325px;
    z-index: 2;
    position: relative;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 4px;

  }

.BlueShadowTopBox {
    width: 120px;
    height: 120px;
    background: #00FF08;
    transform: translateX(9rem) translateY(-7.7rem);
    -webkit-box-shadow: -20px 20px 190px 41px rgba(0, 136, 255, 0.342); 
    box-shadow: -20px 20px 190px 41px rgba(0, 136, 255, 0.342);
    position: absolute;
    top: 0rem;
    right: 0rem;
    z-index: 99;
}

.BlueShadowForTeam {
    width: 2px;
    height: 60%;
    -webkit-box-shadow: 12px 0px 78px 13px rgba(0, 136, 255, 0.342); 
    box-shadow: 12px 0px 88px 10px rgba(0, 136, 255, 0.342);
    position: absolute;
    left: 0rem;
    z-index: 99;
    background: transparent;
    transform: translateX(-4px);
}

.RedShadowForTeam {
    width: 2px;
    height: 60%;
    -webkit-box-shadow: 12px 0px 78px 13px rgba(255, 0, 0, 0.342); 
    box-shadow: 12px 0px 88px 10px rgba(255, 0, 0, 0.342);
    position: absolute;
    left: 0rem;
    z-index: 99;
    background: transparent;
    transform: translateX(-4px);
}

.RedShadowTopBox {
    width: 120px;
    height: 120px;
    background: #00FF08;
    transform: translateX(9rem) translateY(-7.7rem);
    -webkit-box-shadow: -20px 20px 190px 41px rgba(255, 0, 0, 0.342); 
    box-shadow: -20px 20px 190px 41px rgba(255, 0, 0, 0.342);
    position: absolute;
    top: 0rem;
    right: 0rem;
    z-index: 99;
}