.SettingLobby {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100vw;
    background: url(../imgs/SettingRoompageBg.png),#000;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    user-select: none;
    color: #fff;
    overflow: hidden;
}

.CharachterCenter {
    position: absolute;
    bottom: 0rem;
    width: 66vw;
}

.DDLINE {
    position: absolute;
}

.crescent {
    position: relative;
    width: 500px;
    height: 800px;
    border-radius: 50% / 60%;
    background: transparent;
    animation: pulseGlow 2.5s ease-in-out infinite;
    border-left: 32px solid white;
    transform: rotate(160deg);
    margin-top: 28vh;
    margin-left: 7vw;
    filter: drop-shadow(0 0 1.85rem #00C2CB);
  }
  
  .crescent::before {
    content: "";
    position: absolute;
    inset: -40px; 
    border-left: 32px solid #74daf9;
    border-radius: 50% / 60%;
    transform: rotate(0deg);
    filter: blur(40px);
    opacity: 0.9;
  }

  .crescent2 {
    position: relative;
    width: 500px;
    height: 800px;
    border-radius: 50% / 60%;
    background: transparent;
    animation: pulseGlow 2.5s ease-in-out infinite;
    border-left: 32px solid white;
    transform: rotate(20deg);
    margin-top: 20vh;
    margin-right: 1vw;
    filter: drop-shadow(0 0 1.85rem #00C2CB);
  }
  
  .crescent2::before {
    content: "";
    position: absolute;
    inset: -40px; 
    border-left: 32px solid #74daf9;
    border-radius: 50% / 60%;
    transform: rotate(0deg);
    filter: blur(40px);
    opacity: 0.9;
  }
  
  @keyframes pulseGlow {
    0%, 100% {
      filter: drop-shadow(0 0 1.85rem #00C2CB);
    }
    50% {
      filter: drop-shadow(0 0 3.7rem #00E5F5);
    }
  }

.LefPartDivSettiig {
  width: 27rem;
  position: absolute;
  right: 6rem;
}

.TopTextMapSelector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.MapSelectDiv {
  position: relative;   /* makes it a stacking container */
  width: 27rem;
  height: 6.7rem;
}

.MapSelectDiv img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.MapImage {
  z-index: 0; /* bottom layer */
}

.UpperMapImage {
  z-index: 1; /* middle layer */
}

.MapDetail {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* center it */
  z-index: 2; /* top layer */
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}
